

.directions {
  position: absolute;
  background: black;
  top: 1rem;
  right: 1rem;
  width: 25%;
  padding: 1rem;
}

#map {
  width: 100%;
  height: 100vh;
}

.marker {
  padding: 0.5rem;
  background: black;
  transition: all 0.3s ease-out;
  position: relative;
  width: 100px;
  border-radius: 5px;
}

.marker:after {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  font-size: 0.75rem;
  opacity: 1;
}
.marker.highlight:after {
  opacity: 0;
  animation: fadeOut 0.5s;
}
.marker.raining:after {
  content: "🌧️";
}
.marker.cloudy:after {
  content: "⛅";
}
.marker.sunny:after {
  content: "☀️";
}

.marker h2 {
  margin: 0;
}
.marker p {
  margin: 0;
}

.highlight {
  width: 200px;
  color: white;
}
.highlight.raining {
  background: #457b9d;
}
.highlight.cloudy {
  background: #6d6875;
}
.highlight.sunny {
  background: #ffc300;
  color: black;
}
